## What's Changed
{% for type_, commits in release["elements"] | dictsort %}
{% if type_ != "unknown" %}
### {% if type_ == "feat" %}🚀 Features{% elif type_ == "fix" %}🐛 Bug Fixes{% elif type_ == "perf" %}⚡ Performance Improvements{% elif type_ == "docs" %}📚 Documentation{% elif type_ == "style" %}💅 Code Style{% elif type_ == "refactor" %}🔨 Code Refactoring{% elif type_ == "test" %}🧪 Tests{% elif type_ == "build" %}🛠️ Build System{% elif type_ == "ci" %}🔄 Continuous Integration{% elif type_ == "chore" %}🧹 Maintenance{% else %}{{ type_ | title }}{% endif %}

{% for commit in commits %}
* {{ commit.descriptions[0] | capitalize }} by {{ commit.commit.author.name }} in [`{{ commit.hexsha[:7] }}`]({{ commit.hexsha | commit_hash_url }}){% if commit.breaking %} **BREAKING CHANGE** {% endif %}
{% endfor %}
{% endif %}
{% endfor %}

---

{% if version.patch > 0 %}
**Full Changelog**: https://github.com/daniel-lxs/mcp-perplexity/compare/v{{ version.major }}.{{ version.minor }}.{{ version.patch - 1 }}...v{{ version.major }}.{{ version.minor }}.{{ version.patch }}
{% else %}
**Full Changelog**: https://github.com/daniel-lxs/mcp-perplexity/releases/tag/v{{ version.major }}.{{ version.minor }}.{{ version.patch }}
{% endif %} 