# Changelog

All notable changes to this project will be documented in this file.

{% for version, release in context.history.released.items() %}
## {{ version.as_tag() }} ({{ release.tagged_date.strftime("%Y-%m-%d") }})

{% for type_, commits in release["elements"] | dictsort %}
{% if type_ != "unknown" %}
### {% if type_ == "feat" %}🚀 Features{% elif type_ == "fix" %}🐛 Bug Fixes{% elif type_ == "perf" %}⚡ Performance Improvements{% elif type_ == "docs" %}📚 Documentation{% elif type_ == "style" %}💅 Code Style{% elif type_ == "refactor" %}🔨 Code Refactoring{% elif type_ == "test" %}🧪 Tests{% elif type_ == "build" %}🛠️ Build System{% elif type_ == "ci" %}🔄 Continuous Integration{% elif type_ == "chore" %}🧹 Maintenance{% else %}{{ type_ | title }}{% endif %}

{% for commit in commits %}
* {{ commit.descriptions[0] | capitalize }} ([`{{ commit.hexsha[:7] }}`]({{ commit.hexsha | commit_hash_url }})){% if commit.breaking %} **BREAKING CHANGE** {% endif %}
{% endfor %}
{% endif %}
{% endfor %}

{% endfor %} 