# CHANGELOG

{% for release in releases %}
## {{ release.version }} ({{ release.date }})

{% for section_name, section_commits in release.sections.items() %}
{% if section_commits %}
### {{ section_name }}

{% for commit in section_commits %}
- {{ commit.message }}
  {% if commit.sha %}([`{{ commit.sha }}`]({{ commit.url }})){% endif %}

{% endfor %}
{% endif %}
{% endfor %}
{% endfor %} 