# CHANGELOG

{% for version in changelog %}
## {{ version.version }} ({{ version.date }})

{% for section in version.sections %}
### {{ section.name }}

{% for commit in section.commits %}
- {{ commit.message }}
  {% if commit.sha %}([`{{ commit.sha }}`]({{ commit.url }})){% endif %}

{% endfor %}
{% endfor %}
{% endfor %} 